.intro {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 99px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1280px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 90.625%;
    padding-top: 92px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-top: 88px;
    padding-bottom: 88px;
    max-width: 93.75%;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 90%;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
