.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  transition: 0.4s ease;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    min-height: 65vw;
  }
}
