.place__website {
  margin-bottom: 48px;
  max-width: 456px;
  align-self: end;
}

@media screen and (max-width: 767px) {
  .place__website {
    margin: 0 auto 32px;
    text-align: center;
    align-self: auto;
  }
}
@media screen and (max-width: 320px) {
  .place__website {
    width: 288px;
    text-align: left;
  }
}
